/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/*!
 * xFramework NX Docs
 *
 * http://xFrameworknx.com
 */
#header {
  height: 44px;
}

#footer {
  height: 22px;
}

#footer address {
  color: #333;
  margin: 2px 10px;
  text-align: right;
  font-size: 12px;
}

.x-viewport body {
  background: #ededed url(../images/hd-bg.png) repeat-x !important;
}

.x-tree-node div.category-node{
  background:#eee url(../images/cmp-bg.gif) repeat-x;
  margin-top:1px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ccc;
  padding-top:2px;
  padding-bottom:3px;
}

.category-node {
  padding-left: 5px;
  padding-bottom: 5px;
}

.category-node span {
  font-weight: bold;
}

.category-node .x-tree-node-icon {
  display:none;
}

.category-node .x-tree-ec-icon {
  display:none;
}

.x-tree-node .x-tree-selected a span {
  background: transparent;
  color: #1E4176;;
  font-weight: bold;
}

.doc .x-tree-ec-icon {
  display:none;
}

.doc-deep1 .x-tree-node-indent {
  display:none;
}

#doc-body .x-panel-body {
  font-size: 14px;
  padding: 20px;
}

#doc-body .loading-indicator {
  font:bold 13px Helvetica, Arial, Tahoma, Verdana, sans-serif;
  position:absolute;
  top:35%;
  left:43%;
  color:#444;
  background-image:url(../images/large-loading.gif);
  background-repeat: no-repeat;
  background-position:left 5px;
  padding:10px 10px 10px 38px;
  text-align:left;
}

div.doc .x-tree-node-icon {
  background-image:url(../images/icons/page_white_text.png) !important;
}

.man-root+ul .x-tree-node-expanded .x-tree-node-icon {
  background-image:url(../images/icons/book_open.png) !important;
}

.man-root+ul .x-tree-node-collapsed .x-tree-node-icon {
  background-image:url(../images/icons/book.png) !important;
}

.api-root+ul .cls-node .x-tree-node-icon {
  background-image:url(../images/icons/class.gif) !important;
}

.api-root+ul .pkg-node .x-tree-node-icon {
  background-image:url(../images/icons/pkg.gif) !important;
}

.api-root+ul .prop-node .x-tree-node-icon {
  background-image:url(../images/icons/prop.gif) !important;
}

.api-root+ul .method-node .x-tree-node-icon {
  background-image:url(../images/icons/method.gif) !important;
}

.x-tree-no-lines .x-tree-elbow-end-plus {
  background-image: url(http://extjs.cachefly.net/ext-3.3.1/resources/images/default/tree/elbow-plus-nl.gif);
}

.x-tree-no-lines .x-tree-elbow-end-minus {
  background-image: url(http://extjs.cachefly.net/ext-3.3.1/resources/images/default/tree/elbow-minus-nl.gif);
}

.icon-expand-all {
  background-image: url(http://extjs.cachefly.net/ext-3.3.1/docs/resources/expand-all.gif) !important;
}

.icon-collapse-all {
  background-image: url(http://extjs.cachefly.net/ext-3.3.1/docs/resources/collapse-all.gif) !important;
}

/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
