<!-- If -->
{if data.string === 'string'}
data.string is 'string'.
{/if}
{if data.number == '3000'}
data.number is 3000.
{/if}
{if data.number != '2000'}
data.number is not 2000.
{/if}
{if data.number > 1000 }
data.number is over 1000.
{/if}
{if data.number >= 3000 }
data.number is below 3000.
{/if}
{if data.number <= 3000 }
data.number is more 3000.
{/if}
{if data.number < 5000}
data.number is under 5000.
{/if}
{if data.string === 'string' and data.bool === true}
data.string is "string" and data.bool is true.
{/if}
{if data.number !== '3000' }
data.number is not '3000'.
{/if}
{if data.number !== 3000 }
{/if}
{if data.number != '3001' }
data.number is not '3001'.
{/if}
{if data.number != 3000 }
{/if}
{if data.number >= 3001 }
{/if}
{if data.number <= -1 }
{/if}
{if !data.bool}
{/if}
{if data.nuber % 1500}
{/if}
{if data.number > 3000 }
{/if}
{if data.number < -1 }
{/if}
{if !data.bool2}
data.bool2 is false.
{/if}
{if true === data.bool2}
{/if}
{if false === data.bool}
{/if}
{if 'string2' === data.string}
{/if}
{if data.bool2 === true}
{/if}
{if data.bool === false}
{/if}
<!-- /If -->
